{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Academic A Education Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Academic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!---->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href='//fonts.googleapis.com/css?family=Catamaran:400,100,300,500,700,600,800,900' rel='stylesheet'
          type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="head-top">
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/bo.png' %}" alt="" title="Academic"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <h2>Data Structures <br>and Algorithms</h2>
            </div>
            <p class="banner-text1">This Data structures and algorithm assignment gives systematically explains the
                different data structures and how they work</p>
        </div>
    </div>
    <div class="nav-top">
        <div class="container">
            <div class="nav1">
                <div class="navbar1">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav cl-effect-8">
                            <li><a class="active" href="index.html">Home </a></li>
                            <li><a href="dsa_notes.html">DSA notes</a></li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!---->
<div class="services">
    <div class="container">
        <div class="service-head">
            <h3>Data structures and algorithm</h3>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour.Vestibulum ac diam sit amet quam vehicula elementum sed sit
                amet dui. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at
                tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac diam sit amet quam
                vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non
                nisi. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
                ligula. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus.</p>
        </div>
        <div class="servies-top">
            <div class="col-md-7 us-ser">
                <div class=" why-choose">
                    <div class=" hi-icon-effect-2 hi-icon-effect-2a">
                        <a href="#set-6" class="hi-icon  glyphicon glyphicon-book"></a>
                    </div>
                    <div class="ser-top ">
                        <h5>Data Structures</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class=" why-choose">
                    <div class=" hi-icon-effect-2 hi-icon-effect-2a">
                        <a href="#set-6" class="hi-icon  glyphicon glyphicon-leaf"></a>
                    </div>
                    <div class="ser-top">
                        <h5>Algorithms</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="col-md-5 service-mid">
                <img src="{% static 'images/co.png' %}" alt="" class="img-responsive">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!---->
<!--footer-->
<div class="footer">
    <div class="container">

        <div class="col-md-6 footer-right">
            <h3>Contact Us</h3>
            <ul class="con-icons">
                <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+123 456 7890</li>
                <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope"
                                                            aria-hidden="true"></span>info@example.com</a></li>
            </ul>
            <!--            todo add group name-->
            <p class="copy-right">© 2016. All rights reserved | Design by Group1</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//footer-->
</body>
</html>