{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <div class="about">
        <div class="container">
            <div class="about-head">
                <h2>{{ topic.name }}</h2>
                <p> {{ topic.description }}</p>
            </div>
            {% for sub_topic in sub_topics %}
                <div class="about-grids">
                    <div class="col-md-5 about-grid1">
                        <div class="about-img">
                            <img src="{% static sub_topic.image %}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 about-grid">
                        <h3>{{ sub_topic.name }}</h3>
                        <h5>{{ sub_topic.description }}</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}