{% extends 'base2.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div class="gallery">
        <div class="container">
            <div class="gallery-top">
                <h2>Categories</h2>
            </div>
            <div class="filtr-container">
                <!--       remove   'data-category' class       -->
                <div class=" col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
                    <a href="{% url 'index' %}">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 filtr-item" data-category="2, 5" data-sort="Luminous night">
                    <a href="{% static 'images/pc1.jpg' %}" class="b-link-stripe b-animate-go  swipebox">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc1.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
                    <a href="{% static 'images/pc2.jpg' %}" class="b-link-stripe b-animate-go  swipebox">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc2.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class=" col-md-4 filtr-item" data-category="3" data-sort="In production">
                    <a href="{% static 'images/pc3.jpg' %}" class="b-link-stripe b-animate-go  swipebox">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc3.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 filtr-item" data-category="3, 4" data-sort="Industrial site">
                    <a href="{% static 'images/pc4.jpg' %}" class="b-link-stripe b-animate-go  swipebox">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc4.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                    <a href="{% static 'images/pc5.jpg' %}" class="b-link-stripe b-animate-go  swipebox">
                        <div class="ed-gal-effect slow-zoom horizontal">
                            <div class="img-box"><img src="{% static 'images/pc5.jpg' %}" alt=" "/></div>
                            <div class="ed-text-box">
                                <div class="ed-gal-text">
                                    <h4>Education</h4>
                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,
                                        nulla.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
{#                <div class="col-md-4  filtr-item" data-category="1, 5" data-sort="City lights">#}
{#                    <a href="{% static 'images/pc6.jpg' %}" class="b-link-stripe b-animate-go  swipebox">#}
{#                        <div class="ed-gal-effect slow-zoom horizontal">#}
{#                            <div class="img-box"><img src="{% static 'images/pc6.jpg' %}" alt=" "/></div>#}
{#                            <div class="ed-text-box">#}
{#                                <div class="ed-gal-text">#}
{#                                    <h4>Education</h4>#}
{#                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,#}
{#                                        nulla.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{##}
{#                </div>#}
{#                <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Dreamhouse">#}
{#                    <a href="{% static 'images/pc7.jpg' %}" class="b-link-stripe b-animate-go  swipebox">#}
{#                        <div class="ed-gal-effect slow-zoom horizontal">#}
{#                            <div class="img-box"><img src="{% static 'images/pc7.jpg' %}" alt=" "/></div>#}
{#                            <div class="ed-text-box">#}
{#                                <div class="ed-gal-text">#}
{#                                    <h4>Education</h4>#}
{#                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,#}
{#                                        nulla.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{##}
{#                </div>#}
{#                <div class="col-md-4 filtr-item" data-category="3" data-sort="Dreamhouse">#}
{#                    <a href="{% static 'images/pc8.jpg' %}" class="b-link-stripe b-animate-go  swipebox">#}
{#                        <div class="ed-gal-effect slow-zoom horizontal">#}
{#                            <div class="img-box"><img src="{% static 'images/pc8.jpg' %}" alt=" "/></div>#}
{#                            <div class="ed-text-box">#}
{#                                <div class="ed-gal-text">#}
{#                                    <h4>Education</h4>#}
{#                                    <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit,#}
{#                                        nulla.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{##}
{#                </div>#}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Include jQuery & Filterizr -->

    <script src="{% static 'js/jquery.filterizr.js' %}"></script>
    <script src="{% static 'js/controls.js' %}"></script>

    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function () {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
{% endblock %}