{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <div class="about">
        <div class="container">
            <div class="about-head">
                <h2>{{ topic.name }}</h2>
                <p> {{ topic.description }}</p>
            </div>
            {% for sub_topic in sub_topics %}
                <div class="about-grids">
                    <div class="col-md-5 about-grid1">
                        <div class="about-img">
                            <img src="{% static sub_topic.image %}" class="img-responsive" alt="">
                        </div>
                        <h4>{{ sub_topic.name }}</h4>
                        <p>Praesent vestibulum aenean noummy gnis dis parturient montes ascetur ridiculus mus. Null dui.
                            Fusce feugiat malesuada odio Praesent vestibulum aenean noummy gnis dis </p>

                    </div>
                    <div class="col-md-7 about-grid">
                        <h3>{{ sub_topic.name }}</h3>
                        <h5>Nullam velit metus tristique id purus eget consequat congue loreml orem ipsum dolor sit amet
                            consectetur adipiscing elit. Praesent vestibulum aenean noummy endrerit mauris.</h5>
                        <p>Nullam velit metus tristique id purus eget consequat congue loreml orem ipsum dolor sit amet
                            consectetur adipiscing elit. Praesent vesti Cum sociis natoque penatibus et magnis dis
                            parturient montes ascetur ridiculus .</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}