{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <div class="services">
        <div class="container">
            <div class="service-head">
                <h3>Data structures and algorithm</h3>
                <p> A data structure is
                    an arrangement of data in a computer’s memory (or sometimes on a disk). Data
                    structures include linked lists, stacks, binary trees, and hash tables, among others.
                    Algorithms manipulate the data in these structures in various ways, such as inserting a
                    new data item, searching for a particular item, or sorting the items. You can think of an
                    algorithm as a recipe: a list of detailed instructions for carrying out an activity.</p>
            </div>
            <div class="servies-top dsa-margin" style="margin-left: -16px">
                <div class="us-ser">

                    <div class=" why-choose">
                        <div class="container">
                            <h2>Student Records</h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Student Number</th>
                                    <th>Receipts</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td>{{ student.name }}</td>
                                        {% for rptlist in receipts_list %}
                                            {% for receipt in rptlist %}
                                                <td>{{ receipt }}</td>
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}