{% extends 'base2.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
        .button-padding {
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 10px;
            margin-right: 10px
        }
    </style>

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div class="gallery">
        <div class="container">
            <div class="gallery-top">
                <h2>Searching</h2>
            </div>
            <div class="container">
                <h2 style="margin-bottom: 30px">Student Records</h2>
                <a href="{% url 'sorted_receipt' pk=1 %}">
                    <button type="button" class="btn btn-primary button-padding">Select All</button>
                </a>
                <a href="{% url 'sorted_receipt' pk=2 %}">
                    <button type="button" class="btn btn-primary button-padding">Select 10</button>
                </a>

                <div style="margin-top: 20px; margin-bottom: 20px">
                    {% for gdata in graph_data %}
                        <p>{{ gdata.0 }} : {{ gdata.1 }}</p>
                    {% endfor %}
                </div>

                <p>{{ found }}</p>


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Student Number</th>
                        <th>Receipts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.0 }}</td>
                            <td>{{ item.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}