{% extends 'base2.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div class="gallery">
        <div class="container">
            <div class="gallery-top">
                <h2>Sorting</h2>
            </div>
            <div class="container">
                <h2>Student Records</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Student Number</th>
                        <th>Receipts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.0 }}</td>
                            <td>{{ item.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Include jQuery & Filterizr -->

    <script src="{% static 'js/jquery.filterizr.js' %}"></script>
    <script src="{% static 'js/controls.js' %}"></script>

    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function () {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
{% endblock %}